# Adding a generic ignore to exclude any files without an extension
*
!*/
!*.*
!Makefile
!LICENSE
# Ignore binary files
*.exe
# Ignore Mac DS_Store
.DS_Store
vendor/*/
# Ignore swap files
*.swp
# Ignore tmp directory
tmp/**
