[Unit]
Description=Web server for VARS
Documentation=https://github.com/cbelk/vars
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/opt/vars/varsweb

[Install]
WantedBy=multi-user.target
