//////////////////////////////////////////////////////////////////////////////////////
//                                                                                  //
//    VARS (Vulnerability Analysis Reference System) is software used to track      //
//    vulnerabilities from discovery through analysis to mitigation.                //
//    Copyright (C) 2017  Christian Belk                                            //
//                                                                                  //
//    This program is free software: you can redistribute it and/or modify          //
//    it under the terms of the GNU General Public License as published by          //
//    the Free Software Foundation, either version 3 of the License, or             //
//    (at your option) any later version.                                           //
//                                                                                  //
//    This program is distributed in the hope that it will be useful,               //
//    but WITHOUT ANY WARRANTY; without even the implied warranty of                //
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 //
//    GNU General Public License for more details.                                  //
//                                                                                  //
//    See the full License here: https://github.com/cbelk/vars/blob/master/LICENSE  //
//                                                                                  //
//////////////////////////////////////////////////////////////////////////////////////

{% raw %}

// navbar template
{{define "navbar"}}
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-fluid d-flex flex-row justify-content-between">
        <a class="navbar-brand" href="/">
            <img alt="Vulnerability Assessment Reference System" src="/images/logo.png">
        </a>
        {{if .Authed}}
        <ul class="navbar-nav mr-auto">
            {{if le .Emp.Level 2}}
            <li class="nav-item active">
                <a class="nav-link" href="/vulnerability">Vulnerability</a>
            </li>
            {{end}}
            {{if eq .Emp.Level 0}}
            <li class="nav-item active">
                <a class="nav-link" href="/employee">Employee</a>
            </li>
            {{end}}
        </ul>
        <form><button type="submit" class="btn btn-danger navbar-right" formaction="/logout">Logout</button></form>
        {{end}}
    </div>
</nav>
{{end}}

{{define "nav-vuln-drop"}}
    <button type="button" class="btn btn-dark dropdown-toggle navbar-btn navbar-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Vulnerability <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
        <a href="/vulnerability/all" class="text-dark text-nowrap"> All Vulnerabilities</a>
        <a href="/vulnerability/open" class="text-dark text-nowrap"> Open Vulnerabilities</a>
        <a href="/vulnerability/closed" class="text-dark text-nowrap"> Closed Vulnerabilities</a>
    </div>
{{end}}

{% endraw %}
