//////////////////////////////////////////////////////////////////////////////////////
//                                                                                  //
//    VARS (Vulnerability Analysis Reference System) is software used to track      //
//    vulnerabilities from discovery through analysis to mitigation.                //
//    Copyright (C) 2017  Christian Belk                                            //
//                                                                                  //
//    This program is free software: you can redistribute it and/or modify          //
//    it under the terms of the GNU General Public License as published by          //
//    the Free Software Foundation, either version 3 of the License, or             //
//    (at your option) any later version.                                           //
//                                                                                  //
//    This program is distributed in the hope that it will be useful,               //
//    but WITHOUT ANY WARRANTY; without even the implied warranty of                //
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 //
//    GNU General Public License for more details.                                  //
//                                                                                  //
//    See the full License here: https://github.com/cbelk/vars/blob/master/LICENSE  //
//                                                                                  //
//////////////////////////////////////////////////////////////////////////////////////

{% raw %}

{{define "index"}}
{{template "header"}}
{{template "navbar" .User}}
{{if .User.Authed}}
<div class="container vars-content">
<h2 class="text-center"><b>V</b>ulnerability <b>A</b>nalysis <b>R</b>eference <b>S</b>ystem<br><br></h2>
<div class="card-deck justify-content-center">
    <div class="card text-white bg-vdark border-white text-center" style="max-width: 20rem;" id="vars-index-vuln-card">
        <div class="card-header border-white">Vulnerability Analysis</div>
        <div class="card-body">
            <p>Start a VA</p>
            <p>Close a VA</p>
            <p>Delete a VA</p>
            <p>Edit a VA</p>
            <p>Comment on a VA</p>
        </div>
    </div>
    <div class="card text-white bg-vdark border-white text-center" style="max-width: 20rem;" id="vars-index-sys-card">
        <div class="card-header border-white">Manage Systems</div>
        <div class="card-body">
            <p>Add a system</p>
            <p>Edit a system</p>
            <p>Delete a system</p>
        </div>
    </div>
    {{if eq .User.Emp.Level 0}}
    <div class="card text-white bg-vdark border-white text-center" style="max-width: 20rem;" id="vars-index-emp-card">
        <div class="card-header border-white">Manage Employees</div>
        <div class="card-body">
            <p>Add an employee</p>
            <p>Edit an employee</p>
            <p>Delete an employee</p>
        </div>
    </div>
    {{end}}
    <div class="card text-white bg-vdark border-white text-center" style="max-width: 20rem;" id="vars-index-rep-card">
        <div class="card-header border-white">Reports</div>
        <div class="card-body">
            <p>View reports</p>
        </div>
    </div>
</div>
</div>
{{end}}
{{template "footer" .Page}}
{{end}}

{% endraw %}
