//////////////////////////////////////////////////////////////////////////////////////
//                                                                                  //
//    VARS (Vulnerability Analysis Reference System) is software used to track      //
//    vulnerabilities from discovery through analysis to mitigation.                //
//    Copyright (C) 2017  Christian Belk                                            //
//                                                                                  //
//    This program is free software: you can redistribute it and/or modify          //
//    it under the terms of the GNU General Public License as published by          //
//    the Free Software Foundation, either version 3 of the License, or             //
//    (at your option) any later version.                                           //
//                                                                                  //
//    This program is distributed in the hope that it will be useful,               //
//    but WITHOUT ANY WARRANTY; without even the implied warranty of                //
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 //
//    GNU General Public License for more details.                                  //
//                                                                                  //
//    See the full License here: https://github.com/cbelk/vars/blob/master/LICENSE  //
//                                                                                  //
//////////////////////////////////////////////////////////////////////////////////////

{% raw %}

{{define "login"}}
{{template "header"}}
{{template "navbar"}}
<div class="container">
    <form action="" id="signInForm" class="form-signin" method="post">
        <h2 class="form-signin-heading text-center">Please Sign In</h2>
        <label for="username" class="sr-only">Username</label>
        <input id="username" maxlength="255" name="username" title="Enter your username" type="text" class="form-control" placeholder="Username" value="" required autofocus />
        <label for="password" class="sr-only">Password</label>
        <input autocomplete="off" id="password" name="password" title="Enter your password" type="password" class="form-control" placeholder="Password" required />
        <button class="btn btn-large btn-primary btn-block" type="submit">Sign In</button>
    </form>
</div>
{{template "footer"}}
{{end}}

{{define "login-failed"}}
{{template "login"}}
<div class="container">
    <p class="text-danger text-center">Invalid credentials</p>
</div>
{{end}}

{% endraw %}
