//////////////////////////////////////////////////////////////////////////////////////
//                                                                                  //
//    VARS (Vulnerability Analysis Reference System) is software used to track      //
//    vulnerabilities from discovery through analysis to mitigation.                //
//    Copyright (C) 2017  Christian Belk                                            //
//                                                                                  //
//    This program is free software: you can redistribute it and/or modify          //
//    it under the terms of the GNU General Public License as published by          //
//    the Free Software Foundation, either version 3 of the License, or             //
//    (at your option) any later version.                                           //
//                                                                                  //
//    This program is distributed in the hope that it will be useful,               //
//    but WITHOUT ANY WARRANTY; without even the implied warranty of                //
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 //
//    GNU General Public License for more details.                                  //
//                                                                                  //
//    See the full License here: https://github.com/cbelk/vars/blob/master/LICENSE  //
//                                                                                  //
//////////////////////////////////////////////////////////////////////////////////////

{% raw %}

// Not authorized to view a page
{{define "notauthorized-get"}}
{{template "header"}}
{{template "navbar" .}}
{{if .Authed}}
<div class="container vars-content">
    <p class="text-danger">You are not authorized to view this page.</p>
</div>
{{end}}
{{template "footer"}}
{{end}}

// Not authorized to perform an action
{{define "notauthorized-mutate"}}
{{template "header"}}
{{template "navbar" .}}
{{if .Authed}}
<div class="container vars-content">
    <p class="text-danger">You are not authorized to perform that action.</p>
</div>
{{end}}
{{template "footer"}}
{{end}}

// User was removed from VARS
{{define "notauthorized-removed"}}
{{template "header"}}
{{template "navbar-light"}}
<div class="container vars-content">
    <p class="text-danger">You Have been removed from vars. If you believe that this is an error please contact your VARS administrator.</p>
</div>
{{template "footer" .}}
{{end}}

{% endraw %}
