//////////////////////////////////////////////////////////////////////////////////////
//                                                                                  //
//    VARS (Vulnerability Analysis Reference System) is software used to track      //
//    vulnerabilities from discovery through analysis to mitigation.                //
//    Copyright (C) 2017  Christian Belk                                            //
//                                                                                  //
//    This program is free software: you can redistribute it and/or modify          //
//    it under the terms of the GNU General Public License as published by          //
//    the Free Software Foundation, either version 3 of the License, or             //
//    (at your option) any later version.                                           //
//                                                                                  //
//    This program is distributed in the hope that it will be useful,               //
//    but WITHOUT ANY WARRANTY; without even the implied warranty of                //
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 //
//    GNU General Public License for more details.                                  //
//                                                                                  //
//    See the full License here: https://github.com/cbelk/vars/blob/master/LICENSE  //
//                                                                                  //
//////////////////////////////////////////////////////////////////////////////////////

{% raw %}

{{define "report"}}
{{template "header"}}
{{template "navbar" .User}}
{{if .User.Authed}}
<nav class="navbar navbar-expanded-lg fixed-top fixed-top-2 navbar-dark navbar-vdark">
    <div class="container-fluid d-flex flex-row justify-content-center">
        <form class="form-inline">
            <select class="custom-select form-control form-control-lg" id="report-list">
                <option value="" selected>Select a report</option>
            </select>
        </form>
    </div>
</nav>
<div class="container vars-content" id="report-container">
</div>
{{end}}
{{template "footer" .Page}}
{{end}}

{% endraw %}
