//////////////////////////////////////////////////////////////////////////////////////
//                                                                                  //
//    VARS (Vulnerability Analysis Reference System) is software used to track      //
//    vulnerabilities from discovery through analysis to mitigation.                //
//    Copyright (C) 2017  Christian Belk                                            //
//                                                                                  //
//    This program is free software: you can redistribute it and/or modify          //
//    it under the terms of the GNU General Public License as published by          //
//    the Free Software Foundation, either version 3 of the License, or             //
//    (at your option) any later version.                                           //
//                                                                                  //
//    This program is distributed in the hope that it will be useful,               //
//    but WITHOUT ANY WARRANTY; without even the implied warranty of                //
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                 //
//    GNU General Public License for more details.                                  //
//                                                                                  //
//    See the full License here: https://github.com/cbelk/vars/blob/master/LICENSE  //
//                                                                                  //
//////////////////////////////////////////////////////////////////////////////////////

{% raw %}

// Display systems
{{define "sys"}}
{{template "header"}}
{{template "navbar" .User}}
{{if .User.Authed}}
<nav class="navbar navbar-expanded-lg fixed-top fixed-top-2 navbar-dark navbar-vdark">
    <div class="container-fluid d-flex flex-row justify-content-between">
            <button type="button" class="btn-sm btn-success" id="add-sys" data-toggle="modal" data-target="#sys-modal" data-sid="-2" aria-label="Add">
                <span aria-hidden="true">&plus;</span>
            </button>
            <a class="nav-link text-white" href="#" onclick="loadSysTable('active')">Active Systems</a>
            <a class="nav-link text-white" href="#inactive" onclick="loadSysTable('inactive')">Inactive Systems</a>
            <a class="nav-link text-white" href="#all" onclick="loadSysTable('all')">All Systems</a>
            <form class="form-inline"><input type="search" id="sys-table-search" placeholder="Search by name, OS, or description" aria-label="Search"></form>
    </div>
</nav>
<div class="container-fluid pt-3 pb-3 pl-5 pr-5 vars-content">
    <div class="table-responsive">
    <table class="table table-striped table-dark table-bordered table-hover" id="sys-table">
        <thead>
            <tr>
                <th scope="col" class="col-2" onclick="sortTable('sys-table', 0)">Name</th>
                <th scope="col" class="col-3" onclick="sortTable('sys-table', 1)">Type</th>
                <th scope="col" class="col-1" onclick="sortTable('sys-table', 2)">Operating System</th>
                <th scope="col" class="col-1" onclick="sortTable('sys-table', 3)">Location</th>
                <th scope="col" class="col-3" onclick="sortTable('sys-table', 4)">Description</th>
                <th scope="col" class="col-3" onclick="sortTable('sys-table', 5)">State</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>
</div>
{{template "sys-modal"}}
{{end}}
{{template "footer" .Page}}
{{end}}

// System Modal
{{define "sys-modal"}}
<div class="modal fade" id="sys-modal" tabindex="-1" role="dialog" aria-labelledby="sys-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="sys-modal-section-title">
                <h1 class="modal-title" id="sys-modal-label">
                    <div class="row justify-content-start">
                    <div class="col-1">
                        <button type="button" class="btn-sm bg-white text-success border-0 sme-btn sme-btn-title sme-pen" id="sys-modal-edit-title" onclick="showModalEdit(this.id)" aria-label="Edit">
                            <span aria-hidden="true">&#9998;</span>
                        </button>
                    </div>
                    <div class="col-11">
                        <form class="form-inline" id="sys-modal-form-title">
                            <input type="text" class="form-control-plaintext" readonly id="sys-modal-title" name="name" value="" placeholder="System Name">
                            <button type="submit" class="btn btn-dark sme-btn-submit sme-btn-title-submit">Submit</button>
                        </form>
                    </div>
                    </div>
                </h1>
                <div class="btn-group" role="group" aria-label="Modal top buttons">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
            <div class="containier-fluid">
                <!-- Sysid -->
                <div class="row justify-content-start">
                    <div class="col">
                        <p id="sys-modal-sysid" hidden>-1</p>
                    </div>
                </div>
                <!-- Sysid end -->
                <!-- Alerts -->
                <div class="row justify-content-start alert alert-success" role="alert" id="sys-modal-alert-success">
                System successfully updated
                </div>
                <div class="row justify-content-start alert alert-danger" role="alert" id="sys-modal-alert-danger">
                <p id="sys-modal-alert-danger-item">There was an error processing your request</p>
                </div>
                <div class="row justify-content-start alert alert-warning" role="alert" id="sys-modal-alert-warning">
                <p id="sys-modal-alert-warning-item"></p> <button type="button" class="btn btn-success" id="sys-modal-warning-yes" onclick="placeholder()">Yes</button><button type="button" class="btn btn-danger" id="sys-modal-warning-no" onclick="placeholder()">No</button>
                </div>
                <!-- Alerts end -->
                <!-- Type -->
                <div id="sys-modal-section-type">
                <div class="row justify-content-start">
                    <div class="col-1">
                        <p></p>
                    </div>
                    <div class="col-11">
                        <h3>System Type</h3>
                    </div>
                </div>
                <div class="row justify-content-start" id="sys-modal-div-type">
                    <div class="col-1">
                        <button type="button" class="btn-sm bg-white text-success border-0 sme-btn sme-btn-type sme-pen" id="sys-modal-edit-type" onclick="showModalEdit(this.id)" aria-label="Edit">
                            <span aria-hidden="true">&#9998;</span>
                        </button>
                    </div>
                    <div class="col-11">
                        <form id="sys-modal-form-type" action="#" method="post">
                            <input type="text" id="sys-modal-type" name="type" readonly class="form-control-plaintext" value="" placeholder="System Type">
                            <button type="submit" class="btn btn-dark sme-btn-submit">Submit</button>
                        </form>
                    </div>
                </div>
                </div>
                <!-- Type end -->
                <hr>
                <!-- Operating System -->
                <div id="sys-modal-section-os">
                <div class="row justify-content-start">
                    <div class="col-1">
                        <p></p>
                    </div>
                    <div class="col-11">
                        <h3>Operating System</h3>
                    </div>
                </div>
                <div class="row justify-content-start" id="sys-modal-div-os">
                    <div class="col-1">
                        <button type="button" class="btn-sm bg-white text-success border-0 sme-btn sme-btn-os sme-pen" id="sys-modal-edit-os" onclick="showModalEdit(this.id)" aria-label="Edit">
                            <span aria-hidden="true">&#9998;</span>
                        </button>
                    </div>
                    <div class="col-11">
                        <form id="sys-modal-form-os" action="#" method="post">
                            <input type="text" id="sys-modal-os" name="os" readonly class="form-control-plaintext" value="" placeholder="Operating System">
                            <button type="submit" class="btn btn-dark sme-btn-submit">Submit</button>
                        </form>
                    </div>
                </div>
                </div>
                <!-- Operating System end -->
                <hr>
                <!-- Location -->
                <div id="sys-modal-section-location">
                <div class="row justify-content-start">
                    <div class="col-1">
                        <p></p>
                    </div>
                    <div class="col-11">
                        <h3>Location</h3>
                    </div>
                </div>
                <div class="row justify-content-start" id="sys-modal-div-location">
                    <div class="col-1">
                        <button type="button" class="btn-sm bg-white text-success border-0 sme-btn sme-btn-location sme-pen" id="sys-modal-edit-location" onclick="showModalEdit(this.id)" aria-label="Edit">
                            <span aria-hidden="true">&#9998;</span>
                        </button>
                    </div>
                    <div class="col-11">
                        <form id="sys-modal-form-location" action="#" method="post">
                            <input type="text" id="sys-modal-location" name="location" readonly class="form-control-plaintext" value="" placeholder="Location">
                            <button type="submit" class="btn btn-dark sme-btn-submit">Submit</button>
                        </form>
                    </div>
                </div>
                </div>
                <!-- Location end -->
                <hr>
                <!-- Description -->
                <div id="sys-modal-section-description">
                <div class="row justify-content-start">
                    <div class="col-1">
                        <p></p>
                    </div>
                    <div class="col-11">
                        <h3>Description</h3>
                    </div>
                </div>
                <div class="row justify-content-start" id="sys-modal-div-description">
                    <div class="col-1">
                        <button type="button" class="btn-sm bg-white text-success border-0 sme-btn sme-btn-description sme-pen" id="sys-modal-edit-description" onclick="showModalEdit(this.id)" aria-label="Edit">
                            <span aria-hidden="true">&#9998;</span>
                        </button>
                    </div>
                    <div class="col-11">
                        <form id="sys-modal-form-description" action="#" method="post">
                            <textarea id="sys-modal-description" name="description" class="form-control-plaintext" rows="4" cols="65" readonly></textarea>
                            <button type="submit" class="btn btn-dark sme-btn-submit">Submit</button>
                        </form>
                    </div>
                </div>
                </div>
                <!-- Description end -->
                <hr>
                <!-- State -->
                <div id="sys-modal-section-state">
                <div class="row justify-content-start">
                    <div class="col-1">
                        <p></p>
                    </div>
                    <div class="col-11">
                        <h3>State</h3>
                    </div>
                </div>
                <div class="row justify-content-start" id="sys-modal-div-state">
                    <div class="col-1">
                        <p></p>
                    </div>
                    <div class="col-11">
                        <p id="sys-modal-state"></p>
                    </div>
                </div>
                </div>
                <!-- State end -->
            </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark btn-lg btn-block sme-btn-submit" id="modal-add-sys-btn">Submit</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" id="modal-deactivate-sys-btn" onclick="showModalPrompt(this.id)">Deactivate System</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" id="modal-activate-sys-btn" onclick="showModalPrompt(this.id)">Re-Activate System</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" id="modal-delete-sys-btn" onclick="showModalPrompt(this.id)">Delete System</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{% endraw %}
